version: '3'
services:
  shop_api:
    build:
      context: .
    command: sh -c 'python manage.py runserver 0.0.0.0:8000'
    ports:
      - '8000:8000'
    depends_on:
      - shop_data
  shop_data:
    image: 'postgres:14'
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - 'shop-data:/var/lib/postgresql/data'
volumes:
  shop-data:
